*~
*.elc
auto-save-list
recentf
savehist
saveplace
eshell
elpa
el-get
semanticdb
url
ede-projects.el
.DS_Store
custom.el
places
savefile/
/prelude-modules.el
projectile-bookmarks.eld
session*
.cask
tramp
current_config.org
personal/*.el